
var should = require("should");

describe('For-of statement', function () {

	it('iterates over arrays', function () {
		var r = "";
		for (var x of ['a','b','c']) {
			r += x;
		}
		r.should.equal("abc");
	})

	it('supports nested loops', function () {
		var r = "";
		for (var x of ['a','b','c']) {
			for (var y of ['x','y']) {
				r += x + y;
			}
		}
		r.should.equal("axaybxbycxcy");
	})

})
