function __monad(m, value) {
	while (true) {
		var bind = m.send(value);
		if ( bind.done ) return bind.value;

		value = bind.value;

		if ( value && typeof value.then === "function" ) {
			return value.then(nv => __monad(m, nv))
		}
	}
}
