function *gen(p) {
	var i = 0;
	while(true) {
		yield i++;
		if ( i >= 2 ) return false;
	}
	return true;
}

var g = gen();
console.log('1:', g.next());
console.log('2:', g.next());
console.log('end:', g.next());

