var Q = require("q");

function async(x) {
	var d = Q.defer();
	setTimeout(() => d.resolve(x), 100);
	return d.promise;
}

do {
	var r = "";
	for (var x of ['a','b','c']) {
		var y = << async(x);
		console.log(y);
		r += y;
	}

	console.log(r);
}
